body{
    transition: all 4s ease;
    background-image: url(../images/pngtree-beautiful-design-outside-the-warm-morning-room-morningroom-backgroundwindowcurtainadvertising-backgroundbackground-image_65756.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container{
    width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

/* .box{
    
    position: relative;
    padding: 250px;
} */

.list{
    width: 50%;
}

.btn-rec{
    width: 25%;
    padding: 10px;
    font-size: 20px;
    
}

.box{
    padding-top: 250px;
    display: block;
    position: absolute;
    z-index: 2;
    left: -820px;
    transition: all 4s ease;
    
}

.box__image{
    width: 600px;
    height: 300px;
   
    
}

.d-block{
    position: absolute;
    left: 400px;
    /* transition: all 5s ease;
    display: block; */
    
}

.box__image-second{
    width: 300px;
    height: 300px;
    z-index: 6;
    display: none;
    position: absolute;
    left: -250px;
    top: 240px;
    transition: all 4s ease;
    
}


.image{
    display: block; 
    left: -220px;
    transition: all 4s ease;
    
}

.box__image-3{
    width: 200px;
    height: 300px;
    z-index: 6;
    display: none;
    position: absolute;
    left: 580px;
    top: 240px;
    transition: all 4s ease;
}

.table{
    display: block; 
    
    transition: all 4s ease;  
}
.list{
    position: absolute;
    z-index: 10;
    top: 150px;
    font-size: 30px;
}


.box__apple{
    display: none;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 228px;
    left: 195px; 
    transition: all 2s ease;
    z-index: 7;
}

.apple{
    display: block;
    
}

.box__apple-2{
    display: none;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 250px;
    left: 60px; 
    transition: all 2s ease;
    z-index: 7;
}

.apple-2{
    display: block;
}

.box__pizza{
    display: none;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 280px;
    left: 330px; 
    transition: all 2s ease;
    z-index: 7;
}

.pizza{
    display: block;
}


.box__pizza2{
    display: none;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 240px;
    left: 330px; 
    transition: all 2s ease;
    z-index: 7;
}

.pizza2{
    display: block;
}


.box__gif{
    width: 800px;
    height: 490px;
    z-index: -1;
    position: absolute;
    left: 300px;
    top: -10px;
    display: none;
    transition: all 2s ease;
}

.open{
    display: block;
}


